.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.product {
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #FF0000;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #008000;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

h1 {
  
}