/*************************************HEADER**************************************/
header{
  width: 100vw;
}
#cabecalho {
<<<<<<< HEAD
    background-color: #FFE2E9;
    padding: 100;
    display: flex;
    height: 100;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: flex-start;
=======
  background-color: #FFE2E9;
  padding: 100;
  display: flex;
  height: 120;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
>>>>>>> 32ea2a03907bbb6fdfbb99c0b2e8e3c354d2258c
}
.nome-logo {
  font-family: 'Kufam', sans-serif;
  color: whitesmoke;
  font-weight: 700;
  font-size: 32px;
  align-self: flex-start
}
  
.navigation {
  display: flex;
  justify-content: center;
  margin: 0px;
  align-items: center;
  gap: 25px;
}
  
.link-navigation {
  font-family: 'Kufam', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color:rgb(134, 73, 146);
  text-decoration: none;
}
  
.link-navigation:hover {
  text-decoration: underline;
  color: #fd08fd;
  transition: transform 1s ease-in-out;
}



.container {
  margin: 20px auto;
  padding: 20px;
}

h1 {
  font-size: 50px;
  color: #333;
}

p {
  font-size: 25px;
  color: #666;
  margin-bottom: 10px;
}

/**************************************FOOTER**************************************/
/* #footer {
  width: 100vw;
  height: 100%;
  max-width: 992px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color:#E0BFB8;
  min-width: 100%;
  margin-bottom: 0%; 

}

.footer-final{
  align-self: flex-end;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 15px;
  padding: 20px 30px;
  align-items:baseline;
} */
